<section class="post_card">
    <div class="post-details">
        <div class="namecard">
            <span>By:</span>
            <a href="/u/{{user.username}}">{{user.username}}</a>
        </div>
        <p>Posted: {{format_date date_created}}</p>
    </div>
    <div class="post-body">
        {{body}}
    </div>
</section>