<div class="form-card">
    <div class="card-header">
        <h2>Login</h2>
    </div>
    <form id="login" class="login-form">
        <div class="form-entry">
            <label for="login-identifier">Username or Email:</label>
            <input type="text" id="login-identifier" />
        </div>
        <div class="form-entry">
            <label for="login-password">Password:</label>
            <input type="text" id="login-password" />
        </div>
        <div class="submit-box">
            <button type="submit" id="login-submit" class="submit-btn">Login</button>
            <div class="login-signup">
                <p>Don't have an account?</p>
                <a href="/signup" class="login-signup">Sign up</a>
            </div>
        </div>
    </form>
</div>

<script src="./js/login.js"></script>