<section class="post-page-container">
    <section class="post-proper">
    {{> single-post}}
    </section>
    {{#if logged_in}}
    <form class="comment-input">
        <h3>Leave a Comment:</h3>
        <textarea name="comment-input" id="comment-input" cols="30" rows="10"></textarea>
        <button id="comment-submit" class="submit-btn" >Submit</button>
        <input type="hidden" id="hidden-postId" value="{{id}}">
        <input type="hidden" id="hidden-userId" value="{{user_id}}">
    </form>
    {{/if}}
    <section class="comment-section">
        <div class="comments-header">
            <h2>Comments</h2>
        </div>
        {{#if comments}}
            {{#each comments}}
            {{> single-comment}}
            {{/each}}
        {{else}}
        <div class="no-comments">
            <h3>No comments yet...</h3>
        </div>
        {{/if}}
    </section>
</section>

<script src="/js/saveComment.js"></script>
<script src="/js/deletePost.js"></script>
