<div class="write-box">
    <input type="text" name="npost-write-title" class="post-write-title" id="post-write-title" value="{{value}}">
    <textarea class="post-write-area" id="post-write-area" value="{{value}}"></textarea>
    <button class="save-post-btn" id="save-post-btn">Save</button>
</div>