<div class="form-card">
    <div class="card-header">
        <h2>Signup</h2>
    </div>
    <form id="login" class="login-form">
        <div class="form-entry">
            <label for="signup-username">Username:</label>
            <input type="text" id="signup-username" />
        </div>
        <div class="form-entry">
            <label for="signup-email">Email:</label>
            <input type="text" id="signup-email" />
        </div>
        <div class="form-entry">
            <label for="signup-password">Password:</label>
            <input type="text" id="signup-password" />
        </div>
        <div class="submit-box">
            <button type="submit" id="signup-submit" class="submit-btn">Submit</button>
        </div>
    </form>
</div>

<script src="./js/signup.js"></script>